src/*.exe
src/miacoin
src/miacoind
src/test_miacoin
src/build.h
.*.swp
*.*~*
*.bak
*.rej
*.orig
*.o
*.patch
.miacoin
#compilation and Qt preprocessor part
*.qm
Makefile
miacoin-qt
#resources cpp
qrc_*.cpp
#qt creator
*.pro.user
#mac specific
.DS_Store
build

!src/leveldb/Makefile
